[Unit]
Description=MQTT Client Script
After=network.target

[Service]
Type=simple
User=your_username
WorkingDirectory=/root/scripts/mqtt-listener/
ExecStartPre=/bin/sleep 60
ExecStart=/usr/bin/python3 -u /root/scripts/mqtt-listener/mqtt-listener.py -c /root/scripts/mqtt-listener/commands.txt
Restart=always

[Install]
WantedBy=multi-user.target
